.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bottom_area {
  width: 100%;
    height: 80px;
    background: #393939;
    transition: all 0.1s 0s;
    position: fixed;
    height: 80px;
    z-index: 1000;
}

.bottom_area ul li {
  float: left;
  width: 20%;
  list-style: none;
}

.bottom_area ul li span:not(.sub_text) {
  color: #eaeaea;
}

.bottom_area ul li> span:not(:first-child) {
  display: block;
}

.bottom_area ul li span {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}